
@font-face {
    font-family: "orpheus";
    src: url("../fots/orpheus/Orpheus.otf");
}


body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #F2DEC5;
    margin: 0;
    background: #7F1E1E;
    
}

/* Навігація */
.navbar {
    font-family: "orpheus";
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background: #631919;
    position: sticky;
    top: 0;
    border-bottom: 1px solid #631919;
}

.navbar .menu {
    list-style: none;
    display: flex;
    gap: 50px;
}

.navbar a {
    text-decoration: none;
    color: #F2DEC5;
    font-weight: bold;
}



.image-slide {
    
    width: 100%;
    height: 100vh; /* або конкретна висота */
    overflow: hidden;
}

.image-slide img {
    width: 100%;
    height: 90%;
    object-fit: cover;

    /* плавне зникання справа */
    -webkit-mask-image: linear-gradient(to right, black 70%, transparent 100%);
    mask-image: linear-gradient(to right, black 30%, transparent 100%);
}

/* квадрат з текстом */
.text-box {
    font-family: "orpheus";
    position: absolute;
    top: 55%;
    left: 60%;
    transform: translateY(-50%);
    border-radius: 6%;

    width: 500px;
    padding: 20px;

    background-color: rgba(255, 255, 255, 0.65);
    color: #000;

    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}


.buttons {
    margin-top: 20px;
    display: flex;
    gap: 15px;
}

/* загальний стиль кнопок */
.btn {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
    transition: 0.3s;
  
}

/* основна кнопка */
.btn.primary {
    background-color: #1a1a1a;
    color: #fff;
}

.btn.primary:hover {
    background-color: #000;
}

/* друга кнопка */
.btn.secondary {
    border: 1px solid #1a1a1a;
    color: #1a1a1a;
}

.btn.secondary:hover {
    background-color: #1a1a1a;
    color: #fff;
}

.map-box {
    margin-top: 20px;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.map-box iframe {
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 6%;
}


.container {
    font-family: "orpheus";
    max-width: 1200px;   /* або 1100 / 1000 */
    margin: 0 auto;      /* центрує */
    padding: 0 30px;     /* відступи зліва/справа */
    
}


.two-columns {
    display: flex;
    gap: 30px;
    align-items: stretch;
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
}

/* загальний стиль */
.white-box {
    background: rgba(255, 255, 255, 0.20);
    border-radius: 26px;
    padding: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.50);
}

/* ліва колонка */
.video-box {
    flex: 2;
}

/* права колонка */
.info-box {
    flex: 1;
    
}

/* адаптивне відео */
.video-wrapper {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* 16:9 */
}

.video-wrapper iframe {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
}


/* Слайлер*/
.slider-box {
    position: relative;
    width: 40%;
    overflow: hidden;
    position: relative;
    top: 10px;
    margin: 0 auto; 
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%; /* кожен слайд займає весь блок */
}

.slider-box img {
    width: 100%;
    border-radius: 8px;
}

/* Кнопки */
.slider-box .prev,
.slider-box .next {
    position: absolute;
    top: 50%;
    transform: translateY(-10%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}

.slider-box .prev { left: 10px; }
.slider-box .next { right: 10px; }




.footer {
    background-color: #631919;
    padding: 40px 0 60px; /* ⬅️ знизу більше */
    margin-top: 80px;     /* відступ від контенту */
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;

    display: flex;
    flex-direction: column;   /* ⬅️ все по центру */
    align-items: center;
    gap: 20px;
    text-align: center;
}


.video-wrapper {
    position: relative;
    z-index: 10;
}





.menu-container {
     font-family: "orpheus";
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 30px;
    text-align: center;
}

.menu-container h2 {
    font-size: 36px;
    margin-bottom: 40px;
    color: #F2DEC5;
}

.menu-container h1 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #F2DEC5;
}

/* Сітка блоків */
.menu-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 в ряд */
    gap: 30px;
}

/* Окремий блок страви */
.menu-item {
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
    transition: transform 0.3s, box-shadow 0.3s;
}

.menu-item:hover {
    transform: translateY(-15px);
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
}

.menu-item img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 15px;
}

.menu-item h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #631919;
}

.menu-item p {
    font-size: 14px;
    color: #333;
    margin-bottom: 15px;
}

.menu-item .price {
    font-size: 18px;
    font-weight: bold;
    color: #631919;
    margin-bottom: 10px; /* відступ від кнопки */
}

/* Кнопка "Додати" */
.menu-item .add-btn {
     font-family: "orpheus";
    background-color: #1a1a1a;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}



.menu-item .add-btn:hover {
    background-color: #000;
}
/* адаптивність для мобільних */
@media (max-width: 1024px) {
    .menu-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .menu-grid {
        grid-template-columns: 1fr;
    }
}





.cart-container {
    font-family: "orpheus";
    max-width: 1200px;
    margin: 30px auto;
    padding: 20px;
    background-color: #631919;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
    text-align: left;
}

.cart-container h3 {
    
    margin-bottom: 15px;
    color: #631919;
}

.cart-container ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 15px;
}

.cart-container li {
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}

.cart-container p {
    font-weight: bold;
    font-size: 18px;
}


.popular-container {
     font-family: "orpheus";
    margin: 40px auto;
    width: 80%;
    text-align: center;
    color: #F2DEC5;
}

.text-slider-box {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 150px; /* можна змінити висоту */
}

.text-slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.text-slide {
    
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-style: italic;
    padding: 20px;
    background: rgba(255,255,255,0.1);
    
}

.text-slider-box button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    
}

.prev-text { left: 10px; }
.next-text { right: 10px; }



.countdown-box {
    margin-top: 20px;
    padding: 10px;
    background: #631919;
    border-radius: 16px;
    text-align: center;
    color: #F2DEC5;
}

.countdown-box h3 {
    font-family: "orpheus";
    margin-bottom: 5px;

}

.event-date {
    font-family: "orpheus";
    margin-bottom: 15px;
}

.countdown {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.time-box {
    background: rgba(0,0,0,0.08);
    padding: 10px 12px;
    border-radius: 10px;
    min-width: 70px;
}

.time-box span {
    display: block;
    font-size: 24px;
    font-weight: bold;
}

.time-box small {
    font-size: 12px;
    opacity: 0.8;
}





.logo img {
    height: 50px;
    width: auto;
}









